<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.security.mapper.userMapper">
	<select id="gerUserInfo" resultType="board.security.User">
		/* gerUserInfo :: 로그인 정보 조회 */
		SELECT *
		FROM tb_mem
		WHERE ID = #{id} AND PW = #{PASS}
	</select>
	
	
</mapper>